@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #FDFBEA;
    --color-primary: #FF535A;
    --color-dark: #303030;
    --color-accent-gold: #FFAF34;
    --color-light-blue: #DBE5E7;
    --color-salmon: #FFA292;
    --color-olive: #C4C45C;
  }
  body {
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
}
